body{
    margin: 0;
    padding: 0;
}

.containerf1{
    display: flex;
    background-color: #400100;
    padding: 60px;
    font-size: 50px;
    color: white;

}
.menu{
    display: flex;
    background-color: gray;
    padding: 20px;
    flex-direction: column;
    width: 230px;
    height: 872px;
    float: left;
}
.menu div{
    background-color: white;
    width: 200px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
}
.menu h1{
    width: 200px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
}

.princ1{
    display: flex;
    background-color: lightgray;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.princ1 div{
    display: flex;
    background-color: white;
    width: 370px;
    height: 350px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.opcione{
    background-color: lightgray;
    padding: 20px;
}
.opcione h2{
    text-align: center;
    font-size: 30px;
}